@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Manrope:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: "Exo 2", sans-serif; 
}
.container{
    width: 1200px;
    margin: auto;
    box-sizing: border-box;
}



.links{
    color: rgb(86, 84, 84);
    text-decoration: none;
    margin-left: 32px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

#signup{
    background-color: rgb(255, 129, 78);
    border-collapse: collapse;
    padding: 10px;
    color: white;
    font-weight: bold;
    margin-left: 20px;
    border-radius: 5px;
    border-style: hidden;

}

#signin{
    color: rgb(255, 129, 78);
    text-decoration: none;
    font-size: 17px;
    margin-left: 430px;
}

#download{
    background-color: rgb(255, 129, 78);
    padding: 10px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    width: 35%;
    height: 45px;
    border-style: hidden;
    font-size: 17px;
}

#checkdemo{
    color: rgb(255, 129, 78);
    font-weight: bold;
    border-radius: 5px;
    width: 35%;
    height: 45px;
    border-style: hidden;
    font-size: 17px;
    background-color: transparent;
    border: 1px solid rgb(255, 129, 78);
}

section{
    width: 100%;
    height: 130px; 
    background-color: rgb(254, 240, 229); 
    margin-top: 100px;
}

section img{
    padding: 30px;
}

.left{
    width: 30%;  
    height: 600px;  
    display: inline-block;

}

.right{
    width: 60%; 
    height: 600px;  
    display: inline-block; 
    margin-left: 100px;
    box-sizing: border-box;  
}

#learn{
    background-color: rgb(255, 129, 78);
    border-collapse: collapse;
    padding: 10px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border-style: hidden;
    width: 20%;
    height: 45px;
    font-size: 17px;
     
}

.three{
    width: 30%; 
    height: 220px; 
    display: inline-block;
    margin-left: 30px;
    font-size: 18px;
}